
html {
    margin: 0;
    padding: 0;
}
body {
    font-family: Palatino,Georgia,"Times New Roman",serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 4em;
    letter-spacing: -1px;
    margin: 1em 0 0.5em;
    text-align: center;
}


#container_light, .carousel {
    padding-top: 10px;
}

#container_light img {
    padding: 10px;
    display: block;
}

@media screen and (max-width: 700px) {
    .carcateristique {
        padding-bottom: 0px;
        font-size:08px;
    }
    .description {
        padding-bottom: 0px;
        font-size:08px;
    }
    .titre {
        padding-bottom: 0px;
        font-size:12px;
    }
}

@media screen and (min-width: 700px) {
    .image_container{
        width: 170px;
        margin-left: 5px;
        display: inline-block;
    }
    .image_container_diy{
        width: 370px;
        margin-left: 5px;
        display: inline-block;
    }
}

.image_container {
    padding-left: 0px;
    padding-right: 0px;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.unselectable {
    -khtml-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-drag: none; 
    -webkit-user-drag: none;
}